body {
    background-color: #f2fafa;
}

header .container {
    background-color: #eafefd;
    height: 100px;
}

.cards {
    display: flex;
    height: 90vh;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    height: fit-content;
    width: fit-content;
    flex-basis: 28%;
}

header .logo {
    width: 60px;
}

#list {
    padding: 30px;
}

.aside {
    background-color: brown;
}

footer {
    background-color: orange;
}
